html {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.is-sunset {
  --pui-color-primary: #ff6460;
  --color-gradient: 255, 151, 102;
}

.is-ocean {
  --pui-color-primary: #764ba2;
  --color-gradient: 102, 126, 234;
}

.is-matrix {
  --pui-color-primary: #008f11;
  --color-gradient: 0, 255, 65;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bg-gradient-square {
  inset: 0;
  position: absolute;
  background-image:
    linear-gradient(to right, rgba(226, 232, 249, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(226, 232, 249, 0.3) 1px, transparent 1px);
  background-size: 24px 24px;

  /* Máscara para efecto degradado */
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.bg-gradient {
  inset: 0;
  position: absolute;

  background-image:
    radial-gradient(
      circle at top right,
      rgba(var(--color-gradient), 0.25),
      transparent 45%
    ),
    radial-gradient(
      circle at 0% 60%,
      rgba(var(--color-gradient), 0.2),
      transparent 35%
    );
}

.hero-title {
  font-size: 4rem;
}

.bg-gray {
  background: #fafaf9;
  background: linear-gradient(
    180deg,
    rgba(250, 250, 249, 1) 0%,
    rgba(255, 255, 255, 1) 80%
  );
}

.card-omlg {
  padding: var(--pui-space-4) var(--pui-space-3);
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.card-omlg::before {
  content: ' ';
  inset: 0;
  position: absolute;
  opacity: 0;
  background-color: var(--pui-color-primary);
  border-radius: inherit;
  z-index: 0;
}

.card-omlg--mode {
  max-width: 100px;
}

.card-omlg--block {
  width: 50%;
  max-width: 140px;
}

.card-omlg--block--3d,
.card-omlg--block--simple3d {
  width: 100%;
  max-width: calc(2 * 140px + var(--pui-space-3));
}

.card-omlg--block__image {
  min-height: 82px;
  display: flex;
  align-items: center;
}

.card-omlg:hover::before {
  opacity: 0.03;
}

.card-omlg.is-active {
  border-width: 2px;
  border-color: #9ca9a5;
}

.card-omlg.is-active::before {
  opacity: 0.08;
}

.generator-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.generator-container > .card {
  width: 100%;
}

.generator__preview {
  order: 3;
}

@media (min-width: 62rem) {
  .generator-container {
    flex-direction: row;
  }
  .generator__preview {
    order: initial;
  }
}

.btn-slider {
  --pui-btn-font-size: 2rem;
  flex: 0 0 0;
}

.slider-content {
  flex: 1 1 0;
}

.glide {
  width: 0px !important;
}

.card-pallete-slider.is-active .pallete-name {
  font-weight: 700;
}

.omlg-preview {
  position: relative;
}

.omlg-preview .loader-content {
  border-radius: 0.25rem;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 82, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PUCOUI */
.btn .icon:first-child:not(:last-child),
.btn .badge:first-child:not(:last-child) {
  margin-inline: 0 var(--pui-space-1);
}
.btn .icon:last-child:not(:first-child),
.btn .badge:last-child:not(:first-child) {
  margin-inline: var(--pui-space-1) 0;
}

/* ADD TO PUCOUI */
/* .is-row { */
/*   --pui-gap: var(--pui-space-0); */
/*   gap: var(--pui-gap); */
/* } */
