/* HTML: <div class="loader"></div> */
.loader {
  --color-loader: var(--pui-color-primary);
  --color-loader: #fff;

  width: fit-content;
  font-size: 32px;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px var(--color-loader);
  background: linear-gradient(
      90deg,
      #0000 33%,
      var(--color-loader) 0 67%,
      #0000 0
    )
    0/300% 100% no-repeat text;
  animation: l2 2s linear infinite;
}
.loader:before {
  content: 'Loading';
}
@keyframes l2 {
  0% {
    background-position: 100%;
  }
}
